<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rebecca Suxxxxx</title>
  </head>
  <body>

    <form class="" action="writer/newdraft/" method="POST">
      {% csrf_token %}
      <input type="submit" name="newdraft" value="New Draft">

    </form>

    <h2>Your Drafts <br></h2>

    <center>
      {% for doc in docs %}
      <div class="">
        <form class="" action="writer/draft/" method="POST">
          <img src="{{ doc.thumbnail.URL }}" alt="">
          <br>

          <h2>{{ doc.title }}</h2>

          <input type="submit" name="edit" value="Edit">

          <input type="submit" name="forward" value="Forward">
        </form>
      </div>

      {% end for %}

    </center>

  </body>
</html>
