<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <a href="/users/signup/"><input type="button" value="Sign-up"></a>
    <a href="/users/login/"><input type="button" value="Login"></a>
    <div>
        {% for doc in docs %}
        <center>
            <img src="{{ doc.thumbnail.url }}" alt="">
            <br>
            <h1>{{ doc.title }}</h1>
            <br>

            

        </center>

        {% endfor %}
        

    </div>
    
</body>
</html>