{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>{{ doc.title }}</title>#}
{#</head>#}
{#<body>#}
{##}
{#    <div>#}
{#        <center>#}
{#            <h1>{{ doc.title }}</h1>#}
{#            <img src="{{ doc.thumbnail.url }}" alt="" width="640px" height="480px">#}
{##}
{#            <p>#}
{#                {% for i in body1 %}#}
{#                {{ i }}<br>#}
{#                {% endfor %}#}
{#            </p>#}
{#        </center>#}
{#    </div>#}
{#    #}
{#</body>#}
{#</html>#}

{% load static from staticfiles  %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ doc.title }}</title>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>


    <body style="font-family: Lora,serif;">


        <div class="parallax-container" style="height: 250px;">
            <div class="parallax">
                <img src="{% static 'blogbg.jpg' %}" alt="" class="responsive-img" >
            </div>
        </div>

        <h1 style="text-align: center">{{ doc.title }}</h1>
        <div style="text-align: center">
            <img src="{{ doc.thumbnail.url }}" style="height: 300px">
        </div>
        <p style="text-align: justify;margin: 50px 200px">
            {% for i in body1 %}
                {{ i }}<br>
            {% endfor %}
        </p>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.parallax').parallax();
            });
        </script>
    </body>
</html>
